<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="filesSection" type ="NetMentoring_Module5.FilesConfigurationSection, NetMentoring_Module5" />
  </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="Culture" value="ru-RU" />
  </appSettings>
  <filesSection appName ="NetMentoring_Module5">
    <rules isCounterEnabled ="true" isDateEnabled = "true" regularExpression="\d" />
    <outputFilesPaths>
      <add value = "C:/Users/Yauheni_Masarnouski/Desktop/Output/Output1" />
      <add value = "C:/Users/Yauheni_Masarnouski/Desktop/Output/Output2"/>
    </outputFilesPaths>
    <inputFilesPath value = "C:/Users/Yauheni_Masarnouski/Desktop/Input/Input" />
    <defaultInputPath value ="C:/Users/Yauheni_Masarnouski/Desktop/Input/Default" />
  </filesSection>
</configuration>
