<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="fileSystemSettings" type ="NetMentoring_Module5.Configuration.FileSystemSettings, NetMentoring_Module5" />
  </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="Culture" value="RU" />
  </appSettings>
  <fileSystemSettings culture="en-US">
    <directories>
      <directory path="C:\Users\User.1\Desktop\DirToListen"/>
    </directories>
    <rules defaultDirectory="C:\Users\User.1\Desktop\DefaultDir">
      <rule template="1.*" destinationDir="C:\Users\User.1\Desktop\DirToCopy\1" isSerialNumberNeeded="false" isDateNeeded="false"/>
      <rule template="2.*" destinationDir="C:\Users\User.1\Desktop\DirToCopy\2" isSerialNumberNeeded="true" isDateNeeded="true"/>
      <rule template="3.*" destinationDir="C:\Users\User.1\Desktop\DirToCopy\3" isSerialNumberNeeded="false" isDateNeeded="true"/>
      <rule template="4.*" destinationDir="C:\Users\User.1\Desktop\DirToCopy\4" isSerialNumberNeeded="true" isDateNeeded="false"/>
    </rules>
  </fileSystemSettings>
</configuration>
