<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="filesSection" type ="NetMentoring_Module5.FilesConfigurationSection, NetMentoring_Module5" />
  </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="Culture" value="RU" />
  </appSettings>
  <filesSection appName ="NetMentoring_Module5">
    <regularExpression value ="\d" />
    <outputFilesPaths>
      <add value = "C:/Users/User.1/Desktop/Output/OUT1" />
      <add value = "C:/Users/User.1/Desktop/Output/OUT2"/>
    </outputFilesPaths>
    <inputFilesPath value = "C:/Users/User.1/Desktop/Input/IN1"  isCounterEnabled ="true" isDateEnabled = "true" />
    <defaultInputPath value ="C:/Users/User.1/Desktop/Input/Default" isCounterEnabled ="true" isDateEnabled = "true"/>
  </filesSection>
</configuration>
